*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle
.gradle/
build/
.signing/
local.properties
*.log
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp
gen-external-apklibs
.externalNativeBuild
*.iml
*.iws
/out/
.idea/libraries/
.idea/
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.jar
*.war
*.ear
!/gradle/wrapper/gradle-wrapper.jar
